
/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variables */

:root {
	--fontFamily: 'Helvetica Neue',Helvetica, Arial, sans-serif;
	--blue: #1666ce;
	--lighterBlue: #176bda;
}

/* App-specific styles */

body {
	padding:50px;
	font-family:var(--fontFamily);
	max-width:500px;
	margin: 0 auto;
}
form {
	display:flex;
}
input[type="text"],button {
	border-radius:4px;
	border:1px solid #ccc;
	padding:8px 14px;
	font:11pt/1 var(--fontFamily);
}
input[type="text"] {
	box-shadow:inset 0 0 10px #eee;
	height:20px;
	width:100%;
}
input[type="text"]:focus, select:hover {
	outline:none;
	border-color:#999;
}
select:focus {
	outline:none;
}
select {
	margin:0 0 0 10px;
	padding:0 30px 0 10px;
	cursor:pointer;
	display: block;
	color: #444;
	font-size:10pt;
	box-sizing: border-box;
	border: 1px solid #bbb;
	border-radius: 4px;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
select::-ms-expand { display: none; }
button {
	background:var(--blue);
	
	width:auto;
	height:37px;
	color:#fff;
	margin:0 0 0 10px;
	border:0;
	cursor:pointer;
	border-bottom:1px solid rgba(0,0,0,.3);
}
button:hover {
	background:var(--lighterBlue);
}
p.message {
	font-style:italic;
	color:#777;
	text-align:Center;
	padding:30px 0;
}
h2 {
	font-size:14pt;
	padding:30px 0px 10px;
	color:#555;
	border-bottom:1px dotted #aaa;
}
ul {
	padding:0;
	margin:15px 0;
	list-style:none;
}
li {
	padding: 9px 0px;
	display:flex;
}
.coverImage {
	min-width:25px;
	max-width:25px;
	height:40px;
	margin-right:15px;
	background:#e3e3e3;
	overflow:hidden;
	font-size:8pt;
	color:#999;
	text-align:center;
}
.coverImage img {
	height:40px;
}
h3 {
	font-size:12pt;
	font-weight:bold;
	padding:3px 0 6px 0;
}
h3 a {
	color:#444;
	text-decoration:none;
}
h3 a:hover {
	color:#000;
	border-bottom:1px dotted #999;
}
h4 {
	font-size:9pt;
	font-style:italic;
	color:#aaa;
}
