html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	padding:50px;
	font-family:'Helvetica Neue';
	max-width:500px;
	margin: 0 auto;
}
form {
	display:flex;
}
input[type="text"],button {
	border-radius:3px;
	border:1px solid #ccc;
	padding:8px 12px;
	font:11pt/1 'Helvetica Neue';
}
input[type="text"] {
	box-shadow:inset 0 0 10px #eee;
	height:20px;
	width:100%;
}
input[type="text"]:focus {
	outline:none;
	border-color:#999;
}
button {
	background:#1666ce;
	width:auto;
	height:37px;
	color:#fff;
	margin:0 0 0 10px;
	border:0;
	cursor:pointer;
	border-bottom:1px solid rgba(0,0,0,.3);
}
button:hover {
	background:#176bda;
}
p.message {
	font-style:italic;
	color:#777;
	text-align:Center;
	padding:30px 0;
}
h2 {
	font-size:14pt;
	padding:30px 0px 10px;
	color:#555;
	border-bottom:1px dotted #aaa;
}
ul {
	padding:0;
	margin:15px 0;
	list-style:none;
}
li {
	padding: 9px 0px;
	display:flex;
}
.coverImage {
	width:25px;
	height:40px;
	margin-right:15px;
	background:#e3e3e3;
	overflow:hidden;
}
.coverImage img {
	height:40px;
}
h3 {
	font-size:11pt;
	font-weight:bold;
	padding:3px 0 8px 0;
}
h3 a {
	color:#444;
	text-decoration:none;
}
h3 a:hover {
	color:#000;
	border-bottom:1px dotted #999;
}
h4 {
	font-size:8pt;
	font-style:italic;
	color:#aaa;
}
